[defaults]
inventory = ./hosts.yml
roles_path = ./roles
vault_password_file = .vault_pass
interpreter_python = auto_silent
deprecation_warnings = False
system_warnings = False

[inventory]
enable_plugins = yaml, ini, host_list

[metrics]
# Fixes RemovedInAirflow3Warning for timer units
timer_unit_consistency = True
