# Core credentials
default_user = {{ rabbitmq_user | default('mq_admin') }}
default_pass = {{ vault_rabbitmq_password }}

# Fix deprecation
deprecated_features.permit.management_metrics_collection = true

# Logging
log.file = false
log.console = true
log.console.level = info
