[core]
executor = CeleryExecutor
dags_folder = /opt/airflow/dags
load_examples = False
# We use Jinja to inject the secrets during deployment
fernet_key = {{ vault_airflow_fernet_key }}

[database]
sql_alchemy_conn = postgresql+psycopg2://{{ postgres_db_user }}:{{ vault_postgres_password | urlencode }}@{{ postgres_container_name }}:5432/{{ postgres_db_name }}

[celery]
broker_url = amqp://{{ rabbitmq_user }}:{{ vault_rabbitmq_password | urlencode }}@{{ rabbitmq_container_name }}:5672//
result_backend = db+postgresql://{{ postgres_db_user }}:{{ vault_postgres_password | urlencode }}@{{ postgres_container_name }}:5432/{{ postgres_db_name }}

[webserver]
# Use the hex key for Flask sessions
secret_key = {{ vault_airflow_webserver_secret_key }}

# Security: Set to False to hide the configuration from the UI
expose_config = False

# Default UI port
web_server_port = 8080

# For security, you can also set the base_url if you have a domain
# base_url = http://localhost:8080
